* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

html {
    scroll-behavior: smooth;
}

/* INICIO HEADER */

.nav {
    background-color: #181818;
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    position: sticky;
    top: 0;
    z-index: 9;
}

.nav-list {
    display: flex;
    align-items: center;
    list-style: none;
    margin-right: 28px;
}

.nav-list a {
    text-decoration: none;
    color: #ddd;
    padding: 20px;
}

.nav-list a:hover {
    color: #fff;
}

/* FINAL DO HEADER */

/* INICIO MAIN */

.main {
    width: 100%;
    background-color: black;
    height: calc(100vh - 80px);
    background-image: url(img/programador.png);
    display: flex;
    align-items: center;
    padding-left: 10%;
}

.main h1 {
    color: #FFFFFF;
    font-size: 54px;
}

.main p {
    font-size: 24px;
    font-style: italic;
    color: #1e96fc;
    margin-top: 10px;
    margin-bottom: 35px;
}

.call-to-action {
    cursor: pointer;
    background-color: white;
    border: 0;
    padding: 14px;
    border-radius: 8px;
    font-size: 18px;
    font-weight: bold;
    transition: 0.3s;
}

.call-to-action:hover {
    transform: scale(1.05);
}

.main a {
    text-decoration: none;
    color: #181818;
}

/* FINAL DO MAIN */

/* INICIO ABOUT */

.about {
    background-color: white;
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 80px;
    padding-bottom: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.about div {
    max-width: 50%;
    padding-right: 40px;

}

.about img {
    max-width: 450px;
    border-radius: 8px;
}

.about div h2 {
    font-size: 32px;
    margin-bottom: 14px;
}

.about div p {
    font-size: 20px;
    margin-bottom: 14px;
}

/* FINAL DO ABOUT */

/* INICIO PROJECTS */

.projects {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 80px 0;
}

.projects h2{
    font-size: 32px;
    margin-bottom: 8px;
    margin-top: 20px;
}

.projects p {
    margin-bottom: 40px;
    font-style: italic;
    font-size: 20px;
}

.projects-list {
    width: 100%;
    margin-bottom: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.projects img {
    width: 22%;
    margin-left: 0.5%;
    margin-right: 0.5%;
    opacity: 0.8;
    transition: 0.6s;
}

.projects img:hover {
    opacity: 1;
    cursor: pointer;
}

.action {
    background-color: #181818;
    border: 0;
    padding: 12px 24px;
    margin-top: 20px;
    border-radius: 4px;
    font-size: 18px;
    color: white;
    cursor: pointer;
}

/* FINAL DE PROJECTS */

/* INICIO RODAPE */

footer {
    width: 100%;
    background-color: #181818;
    padding: 25px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFF;
}

footer a {
    text-decoration: none;
    color: #FFF;
}

footer p {
    margin-left: 12px;
    margin-top: 3px;
}

/* FINAL DO RODAPE */

/* RESPONSIVIDADE */

@media (max-width: 1080px) {
    /* INICIO DO HEADER */

    .nav {
        height: 70px;
    }

    /* INICIO MAIN */

    .main {
        height: calc(100vh - 70px)
    }

    .main h1 {
        font-size: 32px;
    }

    .main p {
        font-size: 18px;
    }

    .main {
        background-size: cover;
    }

    /* FINAL DO MAIN */

    /* INICIO ABOUT */
    .about {
        flex-direction: column;
        padding-top: 50px;
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 0;
    }

    .about div {
        max-width: 80%;
    }

    .about div h2 {
        font-size: 32px;
    }

    .about div p {
        font-size: 18px;
    }

    .about img {
        width: 80%;
        margin-top: 20px;
    }

    /* FINAL DO ABOUT */

    /* INICIO PROJECTS */

    .projects h2 {
        font-size: 32px;
    }

    .projects p {
        font-size: 18px;
    }

    .projects-list img {
        width: 27.5%;
        margin-top: 10px;
    }

    /* FINAL DE PROJECTS */

    /* INICIO RODAPE */

    footer {
        flex-direction: column;
    }

    footer p {
        margin: 0;
    }
}